        #thirdDiv {
            height: 600px; 
            width: 500px;
            background-color: bisque;
            padding: 50px;
            border: 5px solid blue;
            text-align: center;
            margin: auto;
        }
        #spanId{
            font-size: 18px; 
            margin: 50px;
        }

        body {
            background-image: url("img/Fondo\ Degradado.jpg");
        }

        .divClass{
            text-align: center;
        }

        p {
            text-align: center;
        }
