<style>
        #thirdDiv {
            font-size: 25px; 
            font-weight: 5px;
            color: rgb(238, 225, 238);
            padding: 50px;
            border: 20px; color: blueviolet;
        }
        span{
            font-size: 18px; 
            margin: 50px;
        }

</style>
